/* services */

.service .container{
    padding-bottom: 10.9px;
}

.service .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px var(--text-black-900);
}

.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon{
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa{
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}










@media (max-width:1199px){

    .section .container{
        padding-top: 100px;
    }

    .aside{
        left: -270px;
    }

    .aside.open{
        left: 0;
    }

    .aside .nav-together{
        display: flex;
        left: 30px;
    } 

    .aside .nav-together.open{
        left: 300px;
    }

    .section{
        left: 0;
    } 

    .section.open{
        left: 270px;
    }

    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }

}



@media (max-width:991px) {
     
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        position: relative;
        left: 25%;
        top: 90px;
    }

    .home .home-img{
        display: none;
    }

}


@media (max-width:767px){

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }


}
